$primary-color: #000000;
$secondary-color: #0ecef8;
$show: true;
$image: url(../img/back.jpg);
$opacity: 0.8;
@mixin easing {
  transition: all 0.8s ease-in;
}

@mixin background {
  @if $show {
    &#bg-img {
      background: $image;
      background-attachment: fixed;
      background-size: cover;
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $opacity);
      }
    }
  }
}

//media query mixins
@mixin mediasm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediamd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin medialg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaxl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
